@import "reset.css";
@import "header.css";
@import "footer.css";
@import "common.css";

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
main h2{
    font-family: 'neurimboGothicRegular';
    color:#141466;
    font-size: 2rem;
    margin-bottom: 50px;
}

main .cartbox{
    width: 40%;
    margin-bottom: 100px;
}
main .detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
main .detail .left{
    width: 27%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .detail .left input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

main .detail .right{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .detail .right .name p{
    font-size: 1.16rem;
    font-weight: 800;
    line-height: 160%;
}

main .detail .right .control .c_box{
    display: flex;
    justify-content: space-between;
    font-size: 1.16rem;
    font-weight: 500;
    margin-bottom: 10px;
}
main .detail .right .control .c_box .post{
    margin-right: 30px;
}
main .detail .right .control .c_box input[type="text"]{
    border: none;
    background: none;
    width: 50px;
}

main .detail .right .d_btn{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}
main .detail .right .d_btn input[type="button"]{
    border: none;
    background: none;
    font-size: 1.16rem;
    font-weight: 800;
    padding:0;
}

main .totalbox{
    width: 40%;
    display: flex;
    padding-left: 10%;
    justify-content: space-between;
}

main .totalbox h4{
    font-size: 1.16rem;
    font-weight: 800;
}

main .totalbox .t_con{
    width: 50%;
    font-size: 1.16rem;
    display: flex;
    flex-direction: column;
    gap:35px;
}

main .totalbox .t_con .c_box{
    display: flex;
    justify-content: space-between;
    font-size: 1.16rem;
    font-weight: 500;
}
main .totalbox .t_con .c_box .post{
    margin-right: 10px;
}
main .totalbox .t_con .total .post{
    margin-right: 50px;
}
main .totalbox .t_con .c_box input[type="text"]{
    border: none;
    width: 80px;
}
main .totalbox .t_con .total p{
    font-weight: 800;
}

main .totalbox .order_btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .totalbox .order_btn input[type="button"]{
    border: none;
    background: none;
    font-size: 1.16rem;
    font-weight: 800;
    width: 150px;
    height: 35px;
}
main .totalbox .order_btn input[type="button"]:last-child{
    background-color: #FFF6DE;
    border-radius: 100%;
}
main .totalbox .order_btn input[type="button"]:hover{
    border:1px solid #ff0000;
    border-radius: 100%;
}



/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1200px)*/ 
@media all and (min-width:1024px) and (max-width:1200px) { 
    main .cartbox{
        width: 60%;
        margin-bottom: 100px;
    }
    main .totalbox{
        width: 60%;
        display: flex;
        padding-left: 10%;
        justify-content: space-between;
    }
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    main .cartbox{
        width: 80%;
        margin-bottom: 100px;
    }
    main .totalbox{
        width: 80%;
        display: flex;
        padding-left: 10%;
        justify-content: space-between;
    }
} 

/* 모바일 가로, 테블릿 세로 (해상도 400px ~ 767px)*/ 
@media all and (min-width:400px) and (max-width:767px) {
    main .cartbox{
        width: 90%;
        margin-bottom: 100px;
    }
    main .totalbox{
        width: 85%;
        display: flex;
        padding-left: 10%;
        justify-content: space-between;
    }
    main .detail .left{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
    }
    main .detail .left figure{
        width: 110px;
        height: 110px;
    }
    main .detail .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:20px;
        margin-left: 30px;
    }
    main .detail .right .name p{
        font-size: 1rem;
        font-weight: 800;
        line-height: 160%;
    }
    
    main .detail .right .control .c_box{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    main .detail .right .control .c_box .post{
        margin-right: 20px;
    }
    
    main .detail .right .d_btn{
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 20px;
    }
    main .detail .right .d_btn input[type="button"]{
        border: none;
        background: none;
        font-size: 1rem;
        font-weight: 800;
        padding:0;
    }

    main .totalbox{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: flex-start;
        justify-content: space-between;
        gap:60px;
        font-size: 1rem;
        padding: 0 10%;
    }

    main .totalbox .t_con{
        width: 100%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    main .totalbox .t_con .c_box{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 500;
    }
    main .totalbox .t_con .c_box input[type="text"]{
        border: none;
        width: 50px;
    }
    main .totalbox .order_btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    main .totalbox .order_btn input[type="button"]{
        border: none;
        background: none;
        font-size: 1rem;
        font-weight: 800;
        width: 120px;
        height: 30px;
    }
} 

/* 모바일 세로 (해상도 ~ 400px)*/ 
@media all and (max-width:400px) {
    main h2{
        font-family: 'neurimboGothicRegular';
        color:#141466;
        font-size: 1rem;
        margin-bottom: 50px;
    }
    main .cartbox{
        width: 90%;
        margin-bottom: 100px;
    }
    main .totalbox{
        width: 85%;
        display: flex;
        padding-left: 10%;
        justify-content: space-between;
    }
    main .detail .left{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
    }
    main .detail .left figure{
        width: 110px;
        height: 110px;
    }
    main .detail .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:20px;
        margin-left: 30px;
    }
    main .detail .right .name p{
        font-size: 1rem;
        font-weight: 800;
        line-height: 160%;
    }
    
    main .detail .right .control .c_box{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    main .detail .right .control .c_box .post{
        margin-right: 20px;
    }
    
    main .detail .right .d_btn{
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 20px;
    }
    main .detail .right .d_btn input[type="button"]{
        border: none;
        background: none;
        font-size: 1rem;
        font-weight: 800;
        padding:0;
    }

    main .totalbox{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: flex-start;
        justify-content: space-between;
        gap:60px;
        font-size: 1rem;
        padding: 0 10%;
    }

    main .totalbox .t_con{
        width: 100%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    main .totalbox .t_con .c_box{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 500;
    }
    main .totalbox .t_con .c_box input[type="text"]{
        border: none;
        width: 50px;
    }
    main .totalbox .order_btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    main .totalbox .order_btn input[type="button"]{
        border: none;
        background: none;
        font-size: 1rem;
        font-weight: 800;
        width: 120px;
        height: 30px;
    }
}
