footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

footer svg{
    margin-top: 260px;
    width: 95%;
}
footer .top{
    margin-bottom: 250px;
}
footer .top .menu{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color:#9b9b9b;
}
footer .top .menu>li{
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    font-family: 'neurimboGothicRegular';
    font-size: 1.6rem;
}
footer .top .menu>li:last-child{
    margin-right: 0;
}


footer .top .submenu{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-family: "Noto Sans KR";
    font-size: 1.2rem;
}

footer .top .submenu>li{
    margin-bottom: 20px;
    font-weight: 400;
}

footer .top .submenu>li:hover{
    color:#141466;
}


footer .btm{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

footer .btm p{
    margin-top: 15px;
    font-size: 0.88rem;
    color:#9b9b9b;
}

footer .btm span{
    font-family: 'neurimboGothicRegular';
    font-size: 1.25rem;
    color:#141466;
}


    
/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    footer .top .menu>li{
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        font-family: 'neurimboGothicRegular';
        font-size: 1.2rem;
    }
    footer .top .submenu{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-family: "Noto Sans KR";
        font-size: 1rem;
    }
    footer .btm{
        width: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 65px;
    }
} 

/* 모바일 가로, 테블릿 세로 (해상도 400px ~ 767px)*/ 
@media all and (min-width:400px) and (max-width:767px) {
    footer svg{
        margin-top: 100px;
        width: 95%;
    }
    footer .top .menu{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:#9b9b9b;
    }
    footer .top .menu>li{
        margin-bottom: 25px;
        color:#141466;
        font-size: 1rem;
    }
    footer .top .submenu{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        font-family: "Noto Sans KR";
        font-size: 0.8rem;
    }
    footer .top .submenu>li{
        margin-bottom: 10px;
        font-weight: 400;
        color:#9b9b9b;
    }
    
    footer .btm{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 65px;
    }
    footer .btm p{
        margin-top: 15px;
        font-size: 0.8rem;
        color:#9b9b9b;
    }
    
    footer .btm span{
        font-family: 'neurimboGothicRegular';
        font-size: 1.1rem;
        color:#141466;
    }
    
} 

/* 모바일 세로 (해상도 ~ 400px)*/ 
@media all and (max-width:400px) {
    footer svg{
        margin-top: 100px;
        width: 95%;
    }
    footer .top{
        margin-bottom: 150px;
    }
    footer .top .menu{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:#9b9b9b;
    }
    footer .top .menu>li{
        margin-bottom: 25px;
        color:#141466;
        font-size: 1rem;
    }
    footer .top .submenu{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        font-family: "Noto Sans KR";
        font-size: 0.8rem;
    }
    footer .top .submenu>li{
        margin-bottom: 10px;
        font-weight: 400;
        color:#9b9b9b;
    }
    footer .btm{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 65px;
    }
    footer .btm p{
        margin-top: 13px;
        font-size: 0.6rem;
        color:#9b9b9b;
    }
    
    footer .btm span{
        font-family: 'neurimboGothicRegular';
        font-size: 0.8rem;
        color:#141466;
    }
    

}
