@import "reset.css";
@import "header.css";
@import "footer.css";
@import "common.css";

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

main .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    padding : 0 30px;
}
main .info .slide{
    width: 48%;
    height: 778px;
    position: relative;
    display: flex;
}
main .info .slide_warp{
    width: 612px;
    height: 778px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
main .info .item_box{
    width: 500%;
    height: 778px;
    position: absolute;
    top: 0; left: 0;
    display: flex;
}

main .info .item{
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
}

main .info .pre, 
main .info .next{
    width: 50%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
}


main .info .right{
    width: 48%;
}

main .info .right .r_inner{
    width: 100%;
    margin-top: 170px;
    margin-bottom: 20px;
}

main .info .right h4{
    font-size: 1.16rem;
    font-weight: 600;
    color:#141466;
    margin-bottom: 20px;
    line-height: 140%;
}

main .info .right .con{
    font-size: 1.16rem;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 150px;
}

main .info .right .order{
    display: flex;
    flex-direction: column;
}

main .info .right .order .order_box{
    margin-bottom: 20px;
}

main .info .right .order h4{
    font-family: "Noto Sans KR";
    margin:0;
    margin-right: 60px;
    font-size: 1.16rem;
    font-weight: 700;
    color:#333;
}
main .info .right .order p{
    font-size: 1.16rem;
    font-weight: 700;
}
main .info .right .order .spec{
    display: flex;
    align-items: center;
}
main .info .right .order .price{
    display: flex;
    align-items: center;
}
main .info .right .order .qty{
    display: flex;
    align-items: center;
}
main .info .right .order .total{
    display: flex;
    align-items: center;
}
main .info .right .order .qty input{
    border: none;
    width: 50px;
}
main .info .right .order .total input{
    border: none;
    width: 200px;
}


main .info .right .add_btn p{
    font-family: 'neurimboGothicRegular';
    color:#141466;
    font-size: 1.88rem;
    background-color: #FFF6DE;
    border-radius: 100%;
    padding:0.5% 3%;
    width: 225px;
    margin-left: 30%;
    text-align: center;
}
main .info .right .add_btn p:hover{
    border: 1px solid #ff0000;
}



main .more{
    width: 100%;
    padding: 0 11.98%;
}

main .more .con{
    margin-bottom: 50px;
}

main .more .con h4{
    margin-bottom: 10px;
    font: 1.16rem;
    font-weight: 700;
}

main .more .con p{
    font: 1.16rem;
    line-height: 180%;
}




/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    main .info{
        margin-bottom: 150px;
        justify-content: space-between;
    }
    main .info .slide{
        width: 48%;
        height: 480px;
        position: relative;
        display: flex;
    }
    main .info .slide_warp{
        width: 409px;
        height: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
    }
    main .info .item_box{
        width: 500%;
        height: 480px;
        position: absolute;
        top: 0; left: 0;
        display: flex;
    }
    main .info .item{
        width: 80%;
        height: 80%;
        flex: 0 0 auto;
    }
    main .info .item figure{
        width: 409px;
    }

    main .info .right{
        width: 48%;
        height: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .info .right .r_inner{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    main .info .right h4{
        font-size: 1rem;
        font-weight: 600;
        color:#141466;
        margin-bottom: 20px;
        line-height: 140%;
    }
    
    main .info .right .con{
        font-size: 1rem;
        line-height: 160%;
        font-weight: 400;
        margin-bottom: 30px;
    }
    
    main .info .right .order p{
        display: flex;
        flex-direction: column;
    }
    main .info .right .order .order_box{
        margin-bottom: 15px;
    }

    main .info .right .order h4{
        font-family: "Noto Sans KR";
        margin:0;
        margin-right: 60px;
        font-size: 1rem;
        font-weight: 700;
        color:#333;
    }
    main .info .right .add_btn p{
        font-family: 'neurimboGothicRegular';
        color:#141466;
        font-size: 1.5rem;
        background-color: #FFF6DE;
        border-radius: 100%;
        padding:0.5% 3%;
        width: 200px;
        margin-left: 0;
        text-align: center;
    }
    main .more .con h4{
        margin-bottom: 10px;
        font: 1rem;
        font-weight: 700;
    }
    
    main .more .con p{
        font: 1rem;
        line-height: 180%;
    }
} 

/* 모바일 가로, 테블릿 세로 (해상도 400px ~ 767px)*/ 
@media all and (min-width:400px) and (max-width:767px) {
    main{
        margin-top: 100px;
    }
    main .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    main .info .slide{
        width: 100%;
        height: 450px;
        position: relative;
        display: flex;
    }
    main .info .slide_warp{
        width: 409px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
    }
    main .info .item_box{
        width: 500%;
        height: 450px;
        position: absolute;
        top: 0; left: 0;
        display: flex;
    }
    main .info .item{
        width: 100%;
        height: 100%;
        flex: 0 0 auto;
    }
    main .info .item figure{
        width: 380px;
    }

    main .info .right{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .info .right .r_inner{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        padding: 0px;
    }
    main .info .right h4{
        font-size: 0.9rem;
        font-weight: 600;
        color:#141466;
        margin-bottom: 20px;
        line-height: 140%;
    }
    
    main .info .right .con{
        font-size: 0.9rem;
        line-height: 160%;
        font-weight: 400;
        margin-bottom: 50px;
    }
    
    main .info .right .order{
        display: flex;
        flex-direction: column;
    }
    main .info .right .order .order_box{
        margin-bottom: 15px;
    }
    main .info .right .order h4{
        font-family: "Noto Sans KR";
        margin:0;
        margin-right: 60px;
        font-size: 0.9rem;
        font-weight: 700;
        color:#333;
    }
    main .info .right .order p{
        font-size: 0.9rem;
        font-weight: 700;
    }
    main .info .right .add_btn p{
        font-family: 'neurimboGothicRegular';
        color:#141466;
        font-size: 1.5rem;
        background-color: #FFF6DE;
        border-radius: 100%;
        padding:2% 3%;
        width: 200px;
        margin-left: 0;
        text-align: center;
    }
    main .more{
        width: 100%;
        padding: 20px;
        margin-top: 100px;
    }
    main .more .con h4{
        margin-bottom: 10px;
        font: 1rem;
        font-weight: 700;
    }
    
    main .more .con p{
        font: 1rem;
        line-height: 180%;
    }
} 

/* 모바일 세로 (해상도 ~ 400px)*/ 
@media all and (max-width:400px) {
    main{
        margin-top: 100px;
    }
    main .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    main .info .slide{
        width: 100%;
        height: 350px;
        position: relative;
        display: flex;
    }
    main .info .slide_warp{
        width: 300px;
        height: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
    }
    main .info .item_box{
        width: 500%;
        height: 350px;
        position: absolute;
        top: 0; left: 0;
        display: flex;
    }
    main .info .item{
        width: 100%;
        height: 100%;
        flex: 0 0 auto;
    }
    main .info .item figure{
        width: 300px;
    }

    main .info .right{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .info .right .r_inner{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    main .info .right h4{
        font-size: 0.9rem;
        font-weight: 600;
        color:#141466;
        margin-bottom: 20px;
        line-height: 140%;
    }
    
    main .info .right .con{
        font-size: 0.9rem;
        line-height: 160%;
        font-weight: 400;
        margin-bottom: 50px;
    }
    
    main .info .right .order{
        display: flex;
        flex-direction: column;
    }
    main .info .right .order .order_box{
        margin-bottom: 15px;
    }
    main .info .right .order h4{
        font-family: "Noto Sans KR";
        margin:0;
        margin-right: 60px;
        font-size: 0.9rem;
        font-weight: 700;
        color:#333;
    }
    main .info .right .order p{
        font-size: 1rem;
        font-weight: 700;
    }
    main .info .right .add_btn p{
        font-family: 'neurimboGothicRegular';
        color:#141466;
        font-size: 1.5rem;
        background-color: #FFF6DE;
        border-radius: 100%;
        padding:2% 3%;
        width: 200px;
        margin-left: 0;
        text-align: center;
    }
    main .more{
        width: 100%;
        padding: 20px;
        margin-top: 100px;
    }
    main .more .con h4{
        margin-bottom: 10px;
        font: 0.9rem;
        font-weight: 700;
    }
    
    main .more .con p{
        font: 0.9rem;
    }

}