@import "reset.css";
@import "header.css";
@import "footer.css";
@import "common.css";


.sec1{
    width: 100%;
}
.sec1 .bg1{
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-image: url(../img/main/b1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec1 .maincon{
    margin-top: 150px;
    color:#141466;
    margin-left: 11.98%;
    margin-bottom: 75px;
}
.sec1 h2{
    font-family: 'neurimboGothicRegular';
    font-size: 10rem;
}
.sec1 p{
    font-size: 1.2rem;
    line-height: 170%;
}


.sec2{
    width: 100%;
    overflow:hidden;
    top: 1000px;
}
.sec2 .b2{
    position: relative;
    width: 100%;
    height: 100vh;
}
.sec2 .b2{
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-image: url(../img/main/b2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2 .b2 .b2_con{
    position: absolute;
    top : 87%;
    transform: translateY(-50%);
    right : 5%;
    z-index: 9;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2 .b2 .b2_con h2{
    width: 550px;
    height: 83px;
    Padding:3.5%;
    font-family: 'neurimboGothicRegular';
    font-size: 3.5rem;
    text-align: center;
    border:2px solid #fff;
    border-radius: 100px;
    margin-bottom: 20px;
}   
.sec2 .b2 .b2_con p{
    font-size: 1.2rem;
    text-align: center;
}

.sec2 .b2_icon{
    float:right;
    margin-right: 12%;
    margin-top: 50px;
}
.sec2 .b2_icon ul{
    display: flex;
    font-size: 1rem;
}
.sec2 .b2_icon ul li{
    margin-right: 30px;
    font-weight: 600;
}
.sec2 .b2_icon ul li:last-child{
    margin-right: 0;
}
.sec2 .b2_icon ul figure{
    width: 200px;
    height: 200px;
}



.sec3{
    margin-top: 200px;
    width: 100%;
    height: 980px;
    background-color:#FFEDDE;
    position: relative;
    padding-top: 50px;
    padding-left: 12%;
}
.sec3 h2{
    width: 330px;
    height: 70px;
    font-family: 'neurimboGothicRegular';
    color:#141466;
    background-color: #fff;
    border-radius: 50px;
    font-size: 2.5rem;
    text-align: center;
    line-height: 200%;
}
.sec3 .i_box{
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 76%;
    height: 650px;
}
.sec3 .icon_box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.sec3 .icon_box .icon{
    width: 18%;
    position: relative;
    cursor: pointer;
}
.sec3 .icon_box .icon:last-child{
    margin-right: 0;
}
.sec3 .icon_box .icon figure{
    position: absolute;
}
.sec .icon_box .icon figure:first-child{
    z-index: 100;
}
.sec3 .icon_box .icon .effect{
    display: none;
}
.sec3 .icon_box .icon p{
    display: none;
}

.sec3 .icon_box .icon p{
    position: absolute;
    right: 0;
    bottom:0;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 50px;
    text-align: center;
    padding:0 5%;
    line-height: 160%;
    height: 24px;
    font-size: 0.8rem;
}



.sec4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec4 .text_box{
    width: 72%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
}
.sec4 .text_box p{
    width: 42%;
    font-size: 1.1rem;
    line-height: 200%;
}

.sec4 .paper{
    width: 100%;
    height: 600px;
    background-color: #DEEFFF;
    padding: 0 12%;
    padding-top: 60px;
    z-index: 100;
}
.sec4 .paper h2{
    width: 250px;
    height: 60px;
    font-family: 'neurimboGothicRegular';
    color:#141466;
    background-color: #fff;
    border:1px solid #141466;
    border-radius: 50px;
    font-size: 2.2rem;
    text-align: center;
    line-height: 180%;
}

.sec4 .paper .p_inner{
    margin: 6.5% 0;
    width: 100%;
    height: 350px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sec4 .paper .p_inner .sticker{
    width: 59%;
    display: flex;
    flex-direction: column;
}
.sec4 .paper .p_inner .sticker ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sec4 .paper .p_inner .sticker li{
    width: 32%;
    cursor: pointer;
}

.sec4 .paper .p_inner .postcard{
    width: 39%;
    display: flex;
    flex-direction: column;
}
.sec4 .paper .p_inner .postcard ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.sec4 .paper .p_inner .postcard li{
    width: 48.5%;
    cursor: pointer;
}
.sec4 .paper ul li figure img{
    border: 1px solid #141466;
    border-radius: 25%;
}

.sec4 .paper .bar1{
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 2% 3%;
    background-color: #fff;
    border-radius: 50px;
    border:1px solid #141466;
    color:#141466;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'neurimboGothicRegular';
    font-size: 1.4rem;
}
.sec4 .paper .bar2{
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 2% 3%;
    background-color: #fff;
    border-radius: 50px;
    border:1px solid #141466;
    color:#141466;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'neurimboGothicRegular';
    font-size: 1.4rem;
}

.sec4 .paper .bar1 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec4 .paper .bar2 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sec5{
    width: 100%;
    overflow:hidden;
    z-index: 20;
}
.sec5 .b3{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-image: url(../img/main/b3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec5 .b3 .aos{
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    right : 80px;
}
.sec5 .b3 .aos h2{
    color:#fff;
    line-height: 150%;
    width: 450px;
    height: 83px;
    font-family: 'neurimboGothicRegular';
    font-size: 3.5rem;
    text-align: center;
    border:2px solid #fff;
    border-radius: 100px;
    z-index: 10;
} 

.sec5 .b3_icon{
    margin-left: 12%;
    margin-top: 50px;
}
.sec5 .b3_icon ul{
    display: flex;
    font-size: 1rem;
    margin-bottom: 300px;
}
.sec5 .b3_icon ul li{
    margin-right: 30px;
    font-weight: 600;
    text-align: center;
}
.sec5 .b3_icon ul li:last-child{
    margin-right: 0;
}
.sec5 .b3_icon ul li figure{
    width: 200px;
    height: 200px;
}


.sec6{
    width: 100%;
    height: 1300px;
    position: relative;
    margin-bottom: 300px;
}
.sec6 p{
    font-size: 1.1rem;
    line-height: 200%;
}
.sec6 .text1{
    width: 50%;
    position: absolute;
    top: 50px;
    right:3%;
}
.sec6 figure{
    max-width: 45%;
}

.sec6 .img2{
    position: absolute;
    bottom:200px;
    right: 0px;
}
.sec6 .text2{
    width: 40%;
    position: absolute;
    bottom: 0px;
    left:46%;
}


.sec7{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec7 .title{
    width: 83.33%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.sec7 .title .h2_box{
    font-family: 'neurimboGothicRegular';
    font-size: 1.5rem;
    height: 60px;
    padding:0 3%;
    background-color: #FFE0DE;
    border:1px solid #333;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec7 .title .follow {
    font-size: 1.1rem;
    height: 60px;
    width: 260px;
    padding: 0 2%;
    line-height: 200%;
    background-color: #FFEDDE;
    border:1px solid #141466;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#141466;
}
.sec7 .title .follow a{
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec7 .title .follow span{
    font-family: 'neurimboGothicRegular';
    font-size: 1.7rem
}
.sec7 .title .follow img{
    height: 16px;
}

.sec7 ul{
    width: 83.33%;
    display: flex;
    justify-content: space-between;
}
.sec7 ul li{
    width: 24%;
}





/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1200px)*/ 
@media all and (min-width:1024px) and (max-width:1200px) { 
    .sec1 .bg1{
        width: 100%;
        height: 65vh;
        min-height: 500px;
        background-image: url(../img/main/b1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec1 h2{
        font-family: 'neurimboGothicRegular';
        font-size: 7rem;
    }
    .sec1 p{
        font-size: 1rem;
        font-weight: 500;
        line-height: 170%;
    }


    .sec2 .b2{
        width: 100%;
        height: 60vh;
        min-height: 540px;
        background-image: url(../img/main/b2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    .sec2 .b2 .b2_con h2{
        width: 420px;
        z-index: 100;
        height: 70px;
        Padding:3.5%;
        font-family: 'neurimboGothicRegular';
        font-size: 2.5rem;
        text-align: center;
        border:2px solid #fff;
        border-radius: 100px;
        margin-bottom: 15px;
    }   
    .sec2 .b2 .b2_con p{
        font-size: 1rem;
    }


    .sec3{
        margin-top: 200px;
        width: 100%;
        height: 650px;
        background-color:#FFEDDE;
        position: relative;
        padding-top: 50px;
        padding-left: 12%;
    }
    .sec3 h2{
        width: 280px;
        height: 60px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border-radius: 50px;
        font-size: 2rem;
        text-align: center;
        line-height: 200%;
    }
    .sec3 .i_box{
        position: absolute;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 76%;
        height: 550px;
    }
    .sec3 .icon_box{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .sec3 .icon_box .icon p{
        position: absolute;
        right: 0;
        bottom:30px;
        font-weight: bold;
        border: 1px solid #333;
        border-radius: 50px;
        text-align: center;
        padding:0 5%;
        line-height: 160%;
        height: 24px;
        font-size: 0.8rem;
    }


    .sec4 .text_box{
        width: 72%;
        height: 440px;
        display: flex;
        justify-content: space-between;
        padding-top: 9%;
    }

    .sec4 .text_box p{
        width: 42%;
        font-size: 1rem;
        line-height: 200%;
    }
    .sec4 .paper{
        width: 100%;
        height: 450px;
        background-color: #DEEFFF;
        padding: 0 12%;
        padding-top: 40px;
        z-index: 100;
    }
    .sec4 .paper h2{
        width: 230px;
        height: 55px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border:1px solid #141466;
        border-radius: 50px;
        font-size: 2rem;
        text-align: center;
        line-height: 180%;
    }
    

    .sec5 .b3{
        position: relative;
        width: 100%;
        height: 60vh;
        min-height: 540px;
        background-image: url(../img/main/b3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 
    .sec5 .b3 h2{
        color:#fff;
        line-height: 180%;
        width: 350px;
        height: 70px;
        font-family: 'neurimboGothicRegular';
        font-size: 2.5rem;
        text-align: center;
        border:2px solid #fff;
        border-radius: 100px;
        z-index: 10;
    } 
    .sec6{
        width: 100%;
        height: 1000px;
        position: relative;
        margin-bottom: 300px;
    }
    .sec6 p{
        font-size: 1rem;
        line-height: 200%;
    }
    .sec6 .img2{
        position: absolute;
        bottom:200px;
        right: 0px;
    }
  
    .sec7 .title .h2_box{
        font-family: 'neurimboGothicRegular';
        font-size: 1.2rem;
        height: 50px;
        padding:0 3%;
        background-color: #FFE0DE;
        border:1px solid #333;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec7 .title .follow {
        font-size: 1rem;
        height: 50px;
        width: 230px;
        padding: 0 2%;
        line-height: 200%;
        background-color: #FFEDDE;
        border:1px solid #141466;
        border-radius: 50px;
        color:#141466;
    }
    .sec7 .title .follow a{
        width: 100%;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sec7 .title .follow span{
        font-family: 'neurimboGothicRegular';
        font-size: 1.5rem
    }
    
} 





/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    .sec1 .bg1{
        width: 100%;
        height: 56vh;
        min-height: 480px;
        background-image: url(../img/main/b1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec1 h2{
        font-family: 'neurimboGothicRegular';
        font-size: 5rem;
    }
    .sec1 p{
        font-size: 0.9rem;
        line-height: 170%;
    }


    .sec2 .b2{
        width: 100%;
        height: 56vh;
        min-height: 480px;
        background-image: url(../img/main/b2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec2 .b2 .b2_con h2{
        width: 350px;
        height: 60px;
        Padding:3.5%;
        font-family: 'neurimboGothicRegular';
        font-size: 2rem;
        text-align: center;
        border:2px solid #fff;
        border-radius: 100px;
        margin-bottom: 10px;
    }   
    .sec2 .b2 .b2_con p{
        font-size: 1rem;
    }
    .sec2 .b2_icon{
        float: none;
        margin-right: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec2 .b2_icon ul{
        display: flex;
        font-size: 1rem;
    }
    .sec2 .b2_icon ul li{
        margin-right: 40px;
        font-weight: 600;
    }
    .sec2 .b2_icon ul li:last-child{
        margin-right: 0;
    }
    .sec2 .b2_icon ul figure{
        width: 150px;
        height: 150px;
    }


    .sec3{
        margin-top: 200px;
        width: 100%;
        height: 550px;
        background-color:#FFEDDE;
        position: relative;
        padding-top: 40px;
        padding-left: 12%;
    }
    .sec3 h2{
        width: 220px;
        height: 45px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border-radius: 50px;
        font-size: 1.5rem;
        text-align: center;
        line-height: 200%;
    }
    .sec3 .i_box{
        position: absolute;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 76%;
        height: 450px;
    }
    .sec3 .icon_box{
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    


    .sec3 .icon_box .icon p{
        position: absolute;
        right: 0;
        bottom:25px;
        font-weight: bold;
        border: 1px solid #333;
        border-radius: 50px;
        text-align: center;
        padding:0 5%;
        line-height: 160%;
        height: 24px;
        font-size: 0.8rem;
    }
    


    .sec4 .text_box{
        width: 72%;
        height: 380px;
        display: flex;
        justify-content: space-between;
        padding-top: 7%;
    }

    .sec4 .text_box p{
        width: 42%;
        font-size: 0.9rem;
        line-height: 200%;
    }

    .sec4 .paper{
        width: 100%;
        height: 430px;
        background-color: #DEEFFF;
        padding: 12%;
        padding-top: 60px;
    }
    .sec4 .paper h2{
        width: 180px;
        height: 40px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border:1px solid #141466;
        border-radius: 50px;
        font-size: 1.4rem;
        text-align: center;
        line-height: 180%;
    }
    .sec4 .paper .bar1{
        cursor: pointer;
        width: 100%;
        height: 35px;
        padding: 2% 5%;
        background-color: #fff;
        border-radius: 50px;
        border:1px solid #141466;
        color:#141466;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'neurimboGothicRegular';
        font-size: 1rem;
    }
    .sec4 .paper .bar2{
        cursor: pointer;
        width: 100%;
        height: 35px;
        padding: 2% 5%;
        background-color: #fff;
        border-radius: 50px;
        border:1px solid #141466;
        color:#141466;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'neurimboGothicRegular';
        font-size: 1rem;
    }
    .sec4 .paper .bar1 img,
    .sec4 .paper .bar2 img{
        height: 14px;
    }

    .sec5 .b3{
        position: relative;
        width: 100%;
        height: 45vh;
        min-height: 380px;
        background-image: url(../img/main/b3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 
    .sec5 .b3 .aos{
        position: absolute;
        top: 85%;
        transform: translateY(-50%);
        right : 50px;
    }
    .sec5 .b3 .aos h2{
        color:#fff;
        line-height: 180%;
        width: 300px;
        height: 60px;
        font-family: 'neurimboGothicRegular';
        font-size: 2rem;
        text-align: center;
        border:2px solid #fff;
        border-radius: 100px;
        z-index: 10;
    }
    .sec5 .b3_icon{
        margin-left: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec5 .b3_icon ul{
        display: flex;
        font-size: 1rem;
        margin-bottom: 200px;
    }
    .sec5 .b3_icon ul li{
        margin-right: 40px;
        font-weight: 600;
        text-align: center;
    }
    .sec5 .b3_icon ul li:last-child{
        margin-right: 0;
    }
    .sec5 .b3_icon ul li figure{
        width: 150px;
        height: 150px;
    }
  
    .sec6{
        width: 100%;
        height: 700px;
        position: relative;
        margin-bottom: 300px;
    }
    .sec6 p{
        font-size: 0.9rem;
        line-height: 200%;
    }
    .sec6 .text1{
        width: 50%;
        position: absolute;
        top: 50px;
        right:3%;
    }
    .sec6 figure{
        max-width: 45%;
    }
    
    .sec6 .img2{
        position: absolute;
        bottom:150px;
        right: 0px;
    }
    .sec6 .text2{
        width: 40%;
        position: absolute;
        bottom: 0px;
        left:46%;
    }

    .sec7 .title{
        width: 83.33%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .sec7 .title .h2_box{
        font-family: 'neurimboGothicRegular';
        font-size: 1.3rem;
        width: 49%;
        height: 50px;
        padding:0 3%;
        line-height: 200%;
        background-color: #FFE0DE;
        border:1px solid #333;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sec7 .title .follow { 
        font-size: 1rem;
        height: 50px;
        width: 49%;
        padding: 0 2%;
        line-height: 200%;
        background-color: #FFEDDE;
        border:1px solid #141466;
        border-radius: 50px;
        color:#141466;
    }
    .sec7 .title .follow span{
        font-family: 'neurimboGothicRegular';
        font-size: 1.5rem
    }
    .sec7 ul{
        width: 83.33%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sec7 ul li{
        width: 49%;
        margin-bottom: 14px;
    }

    
} 

/* 모바일 가로, 테블릿 세로 (해상도 400px ~ 767px)*/ 
@media all and (min-width:400px) and (max-width:767px) {
    .sec1 .bg1{
        width: 100%;
        height: 34vh;
        min-height: 280px;
        background-image: url(../img/main/b1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec1 h2{
        font-family: 'neurimboGothicRegular';
        font-size: 3.5rem;
    }
    .sec1 p{
        font-size: 0.9rem;
        line-height: 170%;
    }


    .sec2 .b2{
        width: 100%;
        height: 34vh;
        min-height: 270px;
        background-image: url(../img/main/b2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec2 .b2 .b2_con{
        position: absolute;
        top : 83%;
        transform: translateY(-50%);
        right : 5%;
        z-index: 9;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec2 .b2 .b2_con h2{
        width: 270px;
        height: 45px;
        Padding:3.5%;
        font-family: 'neurimboGothicRegular';
        font-size: 1.5rem;
        text-align: center;
        border:2px solid #fff;
        border-radius: 100px;
        margin-bottom: 10px;
    }   
    .sec2 .b2 .b2_con p{
        font-size: 0.8rem;
    }
    .sec2 .b2_icon{
        float: none;
        margin-right: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec2 .b2_icon ul{
        display: flex;
        font-size: 0.9rem;
    }    
    .sec2 .b2_icon ul li{
        margin-right: 30px;
    }
    .sec2 .b2_icon ul li:last-child{
        margin-right: 0;
    }
    .sec2 .b2_icon ul figure{
        width: 100px;
        height: 100px;
    }


    .sec3{
        margin-top: 150px;
        width: 100%;
        height: 480px;
        background-color:#FFEDDE;
        position: relative;
        padding-top: 35px;
        padding-left: 12%;
    }
    .sec3 h2{
        width: 170px;
        height: 34px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border-radius: 50px;
        font-size: 1.2rem;
        text-align: center;
    }
    .sec3 .i_box{
        position: absolute;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 76%;
        height: 450px;
    }
    .sec3 .icon_box{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
      .sec3 .icon_box .icon{
        width: 23%;
        margin-bottom: 50px;
        position: relative;
        cursor: pointer;
    }
     .sec3 .icon_box .icon .effect{
        display: block;
    }
    .sec3 .icon_box .icon p{
        display: block;
        position: absolute;
        right: 0;
        top : 110%;
        font-weight: 500;
        border: 1px solid #333;
        border-radius: 50px;
        text-align: center;
        padding:0 5%;
        font-size: 0.75rem;
        line-height: 140%;
        height: 20px;
    }
    .sec3 .icon_box .icon .og{
        display: none;
    }


    .sec4 .text_box{
        width: 72%;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }

    .sec4 .text_box p{
        width: 100%;
        font-size: 0.8rem;
        line-height: 200%;
        margin: 20px 0;
    }

    .sec4 .paper{
        width: 100%;
        height: 350px;
        background-color: #DEEFFF;
        padding: 3% 12%;
        padding-top: 35px;
    }
    .sec4 .paper h2{
        width: 150px;
        height: 38px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border:1px solid #141466;
        border-radius: 50px;
        font-size: 1.2rem;
        text-align: center;
        line-height: 200%;
    }
    .sec4 .paper ul li{
        width: 19%;
        cursor: pointer;
    }
    .sec4 .paper .bar1{
        cursor: pointer;
        width: 100%;
        height: 30px;
        padding: 2% 3%;
        background-color: #fff;
        border-radius: 50px;
        border:1px solid #141466;
        color:#141466;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'neurimboGothicRegular';
        font-size: 0.9rem;
    }
    .sec4 .paper .bar2{
        cursor: pointer;
        width: 100%;
        height: 30px;
        padding: 2% 3%;
        background-color: #fff;
        border-radius: 50px;
        border:1px solid #141466;
        color:#141466;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'neurimboGothicRegular';
        font-size: 0.9rem;
    }
    .sec4 .paper .bar1 img,
    .sec4 .paper .bar2 img{
        height: 14px;
    }

    .sec5 .b3{
        position: relative;
        width: 100%;
        height: 34vh;
        min-height: 270px;
        background-image: url(../img/main/b3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 

    .sec5 .b3 .aos{
        position: absolute;
        top: 85%;
        transform: translateY(-50%);
        right : 50px;
    }
    .sec5 .b3 .aos h2{
        color:#fff;
        line-height: 180%;
        width: 200px;
        height: 45px;
        font-family: 'neurimboGothicRegular';
        font-size: 1.5rem;
        text-align: center;
        border:2px solid #fff;
        border-radius: 100px;
        z-index: 10;
    }
    .sec5 .b3_icon{
        margin-left: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec5 .b3_icon ul{
        display: flex;
        font-size: 0.9rem;
        margin-bottom: 200px;
    }
    .sec5 .b3_icon ul li{
        margin-right: 30px;
    }
    .sec5 .b3_icon ul li:last-child{
        margin-right: 0;
    }
    .sec5 .b3_icon ul li figure{
        width: 100px;
        height: 100px;
    }
  
    .sec6{
        width: 100%;
        height: 800px;
        position: relative;
        margin-bottom: 150px;
    }
    .sec6 p{
        font-size: 0.8rem;
        line-height: 200%;
    }
    .sec6 .text1{
        width: 45%;
        position: absolute;
        top: 50px;
        right:3%;
    }
    .sec6 figure{
        max-width: 45%;
    }
    
    .sec6 .img2{
        position: absolute;
        bottom:300px;
        right: 0px;
    }
    .sec6 .text2{
        width: 50%;
        position: absolute;
        bottom: 130px;
        left:40%;
    }

    .sec7 .title{
        width: 95%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .sec7 .title .h2_box{
        font-family: 'neurimboGothicRegular';
        font-size: 1.2rem;
        width: 70%;
        height: 40px;
        padding:0 3%;
        line-height: 200%;
        background-color: #FFE0DE;
        border:1px solid #333;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sec7 .title .follow {
        display: none;
    }
    .sec7 .title .follow span{
        font-family: 'neurimboGothicRegular';
        font-size: 1.5rem
    }
    .sec7 ul{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sec7 ul li{
        width: 49%;
        margin-bottom: 14px;
    }

    

    
} 

/* 모바일 세로 (해상도 ~ 400px)*/ 
@media all and (max-width:400px) {
    .sec1 .bg1{
        width: 100%;
        height: 30vh;
        min-height: 250px;
        background-image: url(../img/main/b1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec1 .maincon{
        margin-top: 150px;
        color:#141466;
        margin-left: 8%;
        margin-bottom: 75px;
    }
    .sec1 h2{
        font-family: 'neurimboGothicRegular';
        font-size: 3.5rem;
    }
    .sec1 p{
        font-size: 0.8rem;
        line-height: 170%;
    }


    .sec2 .b2{
        width: 100%;
        height: 25vh;
        min-height: 220px;
        background-image: url(../img/main/b2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec2 .b2 .b2_con{
        position: absolute;
        top : 80%;
        transform: translateY(-50%);
        right : 5%;
        z-index: 9;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec2 .b2 .b2_con h2{
        width: 230px;
        height: 40px;
        Padding:3.5%;
        font-family: 'neurimboGothicRegular';
        font-size: 1.3rem;
        text-align: center;
        border:1px solid #fff;
        border-radius: 100px;
        margin-bottom: 10px;
        line-height: 140%;
    }   
    .sec2 .b2 .b2_con p{
        font-size: 0.7rem;
    }
    .sec2 .b2_icon{
        float: none;
        margin-right: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec2 .b2_icon ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.9rem;
    }
    .sec2 .b2_icon ul li:first-child{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .sec2 .b2_icon ul li{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .sec2 .b2_icon ul li:last-child{
        margin-right: 0;
        margin-left: 150px;
    }
    .sec2 .b2_icon ul figure{
        width: 140px;
        height: 140px;
    }


    .sec3{
        margin-top: 150px;
        width: 100%;
        height: 820px;
        background-color:#FFEDDE;
        position: relative;
        padding-top: 35px;
        padding-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec3 h2{
        width: 170px;
        height: 34px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border-radius: 50px;
        font-size: 1.2rem;
        text-align: center;
        line-height: 200%;
    }
    .sec3 .i_box{
        position: absolute;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        width: 76%;
        height: 700px;
    }
    .sec3 .icon_box{
        width: 100%;
        height: 325px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .sec3 .icon_box .icon{
        width: 42%;
        margin-bottom: 50px;
        position: relative;
        cursor: pointer;
    }
    .sec3 .icon_box .icon .effect{
        display: block;
    }
    .sec3 .icon_box .icon .og{
        display: none;
    }
    .sec3 .icon_box .icon p{
        display: block;
        position: absolute;
        right: 0;
        top: 100%;
        font-weight: 500;
        border: 1px solid #333;
        border-radius: 50px;
        text-align: center;
        padding:0 5%;
        font-size: 0.75rem;
        line-height: 140%;
        height: 20px;
    }


    .sec4 .text_box{
        width: 85%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0%;
    }

    .sec4 .text_box p{
        width: 100%;
        font-size: 0.8rem;
        line-height: 200%;
        margin:20px 0;
    }

    .sec4 .paper{
        width: 100%;
        height: 600px;
        background-color: #DEEFFF;
        padding: 3% 12%;
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .sec4 .paper h2{
        width: 150px;
        height: 38px;
        font-family: 'neurimboGothicRegular';
        color:#141466;
        background-color: #fff;
        border:1px solid #141466;
        border-radius: 50px;
        font-size: 1.2rem;
        text-align: center;
        line-height: 200%;
    }

    .sec4 .paper .p_inner{
        margin: 6.5% 0;
        width: 100%;
        height: 550px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .sec4 .paper .p_inner .sticker{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec4 .paper .p_inner .sticker ul{
        margin-bottom: 20px;
    }
    .sec4 .paper .bar1{
        cursor: pointer;
        width: 80%;
        height: 30px;
        padding: 2% 3%;
        background-color: #fff;
        border-radius: 50px;
        border:1px solid #141466;
        color:#141466;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'neurimboGothicRegular';
        font-size: 0.9rem;
    }
   
    .sec4 .paper .p_inner .sticker li{
        width: 49%;
        cursor: pointer;
    }
    .sec4 .paper .p_inner .sticker li:last-child{
        display: none;
    }

    .sec4 .paper .p_inner .postcard{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec4 .paper .p_inner .postcard ul{
        margin-bottom: 20px;
    }
    .sec4 .paper .bar2{
        cursor: pointer;
        width: 80%;
        height: 30px;
        padding: 2% 3%;
        background-color: #fff;
        border-radius: 50px;
        border:1px solid #141466;
        color:#141466;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'neurimboGothicRegular';
        font-size: 0.9rem;
    }
    .sec4 .paper .bar1 img,
    .sec4 .paper .bar2 img{
        height: 14px;
    }

    .sec5 .b3{
        position: relative;
        width: 100%;
        height: 25vh;
        min-height: 220px;
        background-image: url(../img/main/b3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 
    .sec5 .b3 .aos{
        top: 85%;
        transform: translateY(-50%);
        right : 20px;
    }
    .sec5 .b3 .aos h2{
        color:#fff;
        line-height: 180%;
        width: 180px;
        height: 40px;
        font-family: 'neurimboGothicRegular';
        font-size: 1.3rem;
        text-align: center;
        border:1px solid #fff;
        border-radius: 100px;
        z-index: 10;
    }
    .sec5 .b3_icon{
        margin-left: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec5 .b3_icon ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.9rem;
        margin-bottom: 200px;
    }
    .sec5 .b3_icon ul li:first-child{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .sec5 .b3_icon ul li{
        margin-right: 0;
    }
    .sec5 .b3_icon ul li:last-child{
        margin-right: 170px;
    }
    .sec5 .b3_icon ul li figure{
        width: 140px;
        height: 140px;
    }
  
    .sec6{
        width: 100%;
        height: 1300px;
        position: relative;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec6 p{
        font-size: 0.8rem;
        line-height: 200%;
    }
    .sec6 .text1{
        width: 90%;
        position: relative;
        top: 30px;
        right: 0%;
    }
    .sec6 figure{
        max-width: 100%;
    }
    
    .sec6 .img2{
        margin-top: 300px;
        position: relative;
    }
    .sec6 .text2{
        width: 90%;
        position: relative;
        bottom: 170px;
        left: 0;
    }

    .sec7 .title{
        width: 95%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .sec7 .title .h2_box{
        font-family: 'neurimboGothicRegular';
        font-size: 1rem;
        width: 70%;
        height: 40px;
        padding:0 3%;
        line-height: 200%;
        background-color: #FFE0DE;
        border:1px solid #333;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sec7 .title .follow {
        display: none;
    }
    .sec7 .title .follow span{
        font-family: 'neurimboGothicRegular';
        font-size: 1.5rem
    }
    .sec7 ul{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sec7 ul li{
        width: 49%;
        margin-bottom: 14px;
    }

    

    
}