@import "reset.css";
@import "header.css";
@import "footer.css";
@import "common.css";


main{
    width: 100%;
    height: 850px;
    position: relative;
    font-family: 'neurimboGothicRegular';
    font-size: 1.25rem;
    color:#848484;
}

main .bg{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

main .login{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

    width: 48.59%;
    height: 267px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main .login .top{
    display: flex;
    flex-direction: column;
    gap:20px;
}

main .login .top .id label{
    letter-spacing: 8px;
}
main .login .top .pw label{
    letter-spacing: 3px;
}

main .login .btn{
    width: 30%;
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .login .logbutton{
    font-family: 'neurimboGothicRegular';
    font-size: 1.25rem;
    border: none;
    background : none;
}

main .login .line{
    background:none;
    border: none;
    border-bottom: 1px solid #848484;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

main .logbutton:hover{
    border: 1px solid #ff0000;
    border-radius: 100%;
}

main .forgot{
    width: 48.59%;
    height: 50px;
    position: absolute;
    top: 85%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: end;
    justify-content: center;
}
main .forgot .logbutton{
    font-family: 'neurimboGothicRegular';
    font-size: 1.25rem;
    border: none;
    background : none;
    color:#848484;
}
main .forgot .logbutton:hover{
    border: 1px solid #ff0000;
    border-radius: 100%;
}





/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1200px)*/ 
@media all and (min-width:1024px) and (max-width:1200px) { 
    main .bg{
        width: 70%;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    main .login{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    
        width: 50%;
        height: 267px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    main .login .btn{
        width: 50%;
        position: absolute;
        top: 80%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main .forgot{
        width: 70%;
        height: 50px;
        position: absolute;
        top: 75%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
        justify-content: center;
    }
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    main .bg{
        width: 70%;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    main .login{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    
        width: 50%;
        height: 267px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    main .login .btn{
        width: 60%;
        position: absolute;
        top: 77%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main .forgot{
        width: 70%;
        height: 50px;
        position: absolute;
        top: 73%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
        justify-content: center;
    }
} 

/* 모바일 가로, 테블릿 세로 (해상도 400px ~ 767px)*/ 
@media all and (min-width:400px) and (max-width:767px) {
    main .bg{
        width: 90%;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    main .login{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    
        width: 80%;
        height: 267px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    main .login .line{
        background:none;
        border: none;
        border-bottom: 1px solid #848484;
        width: 250px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    main .login .btn{
        width: 60%;
        position: absolute;
        top: 90%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main .forgot{
        width: 90%;
        height: 50px;
        position: absolute;
        top: 77%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
        justify-content: center;
    }
} 

/* 모바일 세로 (해상도 ~ 400px)*/ 
@media all and (max-width:400px) {
    main .bg{
        width: 90%;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    main .login{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    
        width: 80%;
        height: 267px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    main .login .line{
        background:none;
        border: none;
        border-bottom: 1px solid #848484;
        width: 200px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    main .login .btn{
        width: 100%;
        position: absolute;
        top: 90%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main .forgot{
        width: 90%;
        height: 50px;
        position: absolute;
        top: 73%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
        justify-content: center;
    }
}